version: '3.5'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-my_posgres_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-my_secret}
      POSTGRES_DB: whmapper
      PGDATA: /data/postgres
    volumes:
     - postgres:/data/postgres
    networks:
     - net 

  whmapper:
    image: ghcr.io/pfh59/eve-whmapper:latest
    restart: unless-stopped
    environment:
     - EveSSO__ClientId=xxxxxxxxx
     - EveSSO__Secret=xxxxxxxxx
     - ConnectionStrings__DefaultConnection=server=db;port=5432;database=whmapper;User Id=my_posgres_user;Password=my_secret
     - Logging__LogLevel__Default=Warning
     - Logging__LogLevel__Microsoft.EntityFrameworkCore.Database.Command=Warning
    links:
      - db
    depends_on:
      - db
    networks:
     - net

networks:
  net:

volumes:
    postgres:
