services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-secret}
      POSTGRES_DB: whmapper
      PGDATA: /data/postgres
    volumes:
     - postgres:/data/postgres
    networks:
     - net

  redis:
    image: redis:8-alpine
    restart: always
    networks:
     - net

  whmapper:
    image: ghcr.io/pfh59/eve-whmapper:latest
    restart: unless-stopped
    environment:
     - EveSSO__ClientId=xxxxxxxxx
     - EveSSO__Secret=xxxxxxxxx
     - ConnectionStrings__DatabaseConnection=server=db;port=5432;database=whmapper;User Id=postgres;Password=secret
     - ConnectionStrings__RedisConnection=redis:6379
     - Serilog__MinimumLevel__Default=Warning
     - Serilog__MinimumLevel__Override__Microsoft.EntityFrameworkCore.Database.Command=Warning
    links:
      - db     
    depends_on:
      - db 
    networks:
     - net
    volumes:
     - ./Logs:/app/Logs

networks:
  net:

volumes:
    postgres: