@using Microsoft.AspNetCore.Components.Web

@namespace WHMapper.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;


}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eve WHMapper</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />


    <link href="WHMapper.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- in the head element -->
    <link href="_content/Z.Blazor.Diagrams/style.min.css" rel="stylesheet" />
    <!-- if you want the default styling -->
    <link href="_content/Z.Blazor.Diagrams/default.styles.min.css" rel="stylesheet" />

    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body allow="clipboard-read; clipboard-write">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <!-- in the body element -->
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
    <script type="module" src="WHMapper.lib.module.js"></script>
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>

</body>
</html>

